<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/styles.css">
    </head>
    <body>
        <!-- Server Down Error Message Displays Here -->
        <% if (code == "ECONNREFUSED") { %>
            <h1>Error Message</h1>
            <h3>Error: <%= call %> <%= code %> <%= address %>:<%= portNum %></h3>
        <% } else {%>
            <h1>Cities</h1>
            <table>
                <tr>
                    <th>City Code</th>
                    <th>Country Code</th>
                    <th>City Name</th>
                    <th>Population</th>
                    <th>By the Sea</th>
                    <th>Area</th>
                    <th>Action</th>
                    <th>Remove</th>
                </tr>
                <% cities.forEach((city) => { %>
                    <tr>
                        <td><%= city.cty_code %></td>
                        <td><%= city.co_code %></td>
                        <td><%= city.cty_name %></td>
                        <td><%= city.population %></td>
                        <td><%= city.isCoastal %></td>
                        <td><%= city.areaKM %></td>
                        <td><a href="http://localhost:3007/alldetails/<%= city.cty_code %>">All Details</a></td>
                        <td><a href="http://localhost:3007/deletecity/<%= city.cty_code %>">Delete</a></td>
                    </tr>
                <% }) %>
            </table>
        <% } %>
        <br><br>
        <a href="http://localhost:3007">Home</a><br>
    </body>
</html>